# Supabase Credentials
VITE_SUPABASE_URL=https://ulhpwvoehhuecddbjohs.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Rf3z8gCm1vpYRoKXxerCyQ__3UyWAJg

# Gemini API Key (Optional client side fallback)
VITE_GEMINI_API_KEY=MY_GEMINI_API_KEY
